
.App {
  text-align: center;
  /* background-color: rgb(180, 220, 255, 0.5); */
  background-color: #F0FAFF;

}

/* border style */
.border {
  border: solid black 2px!important;
  margin: 20px!important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px;
}


/* body */
body {
  padding: 15px;
  background-color: #F0FAFF;
  
}

/* footer */
footer {
  background-color: #86C6FF;
  border: 1px solid #282c34;
  box-shadow: 5px 5px 5px #282c34;
}

footer p {
  font-weight:bold ;
  /* margin-left: 1.5em; */
  color: black;
  text-align: center;
  
}

/* main */
.main {
  background-color: #F0FAFF;
  color: black;
  height: 100%;
}


/* header */
.header {
  margin-top: 0.5em!important;
  background-color: #86C6FF;
  color: black;
  border: 1px solid #282c34;
  box-shadow: 5px 5px 5px #282c34;
}

#box, #box2, #box3 {
  background-color: white;
  display: flex;
  justify-content: center;
  
}

.Coordinates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  margin-top: 2vw;  
}

.title {
  background-color: #5CB1FD;
  padding: 20px;
  /* border: 1px double black; */
  /* box-shadow: 5px 5px 5px #282c34; */
  border-radius: 10px;
  
}

